In [107]:

import pandas as pd
import numpy as np

import os
import gc
from datetime import datetime


import matplotlib
import matplotlib.pyplot as plt

In [108]:
train = pd.read_csv("train_time_series.csv", index_col=None,parse_dates=['UTC time'])
test = pd.read_csv("test_time_series.csv", index_col=None,parse_dates=['UTC time'])

In [109]:
train

,Unnamed: 0,timestamp,UTC time,accuracy,x,y,z
0,20586,1565109930787,2019-08-06 16:45:30.787,unknown,-0.006485,-0.934860,-0.069046
1,20587,1565109930887,2019-08-06 16:45:30.887,unknown,-0.066467,-1.015442,0.089554
2,20588,1565109930987,2019-08-06 16:45:30.987,unknown,-0.043488,-1.021255,0.178467
3,20589,1565109931087,2019-08-06 16:45:31.087,unknown,-0.053802,-0.987701,0.068985
4,20590,1565109931188,2019-08-06 16:45:31.188,unknown,-0.054031,-1.003616,0.126450
...,...,...,...,...,...,...,...
3739,24325,1565110305638,2019-08-06 16:51:45.638,unknown,0.024384,-0.710709,0.030304
3740,24326,1565110305738,2019-08-06 16:51:45.738,unknown,0.487228,-1.099136,-0.015213
3741,24327,1565110305838,2019-08-06 16:51:45.838,unknown,0.369446,-0.968506,0.036713
3742,24328,1565110305939,2019-08-06 16:51:45.939,unknown,0.167877,-0.802826,0.049805
3743,24329,1565110306039,2019-08-06 16:51:46.039,unknown,0.689346,-0.991043,0.034973

In [110]:
test

,Unnamed: 0,timestamp,UTC time,accuracy,x,y,z
0,24330,1565110306139,2019-08-06 16:51:46.139,unknown,0.034286,-1.504456,0.157623
1,24331,1565110306239,2019-08-06 16:51:46.239,unknown,0.409164,-1.038544,0.030975
2,24332,1565110306340,2019-08-06 16:51:46.340,unknown,-0.234390,-0.984558,0.124771
3,24333,1565110306440,2019-08-06 16:51:46.440,unknown,0.251114,-0.787003,0.054810
4,24334,1565110306540,2019-08-06 16:51:46.540,unknown,0.109924,-0.169510,0.235550
...,...,...,...,...,...,...,...
1245,25575,1565110430975,2019-08-06 16:53:50.975,unknown,0.036499,-0.724823,0.553802
1246,25576,1565110431075,2019-08-06 16:53:51.075,unknown,-0.159241,0.307022,0.142410
1247,25577,1565110431175,2019-08-06 16:53:51.175,unknown,-0.037964,-0.673706,1.065445
1248,25578,1565110431275,2019-08-06 16:53:51.275,unknown,0.255707,-1.485397,-0.013336
1249,25579,1565110431376,2019-08-06 16:53:51.376,unknown,-0.089462,-0.734573,-0.100876

In [111]:
train_l = pd.read_csv("train_labels.csv", index_col=None,parse_dates=['UTC time'])
test_l = pd.read_csv("test_labels.csv", index_col=None,parse_dates=['UTC time'])

In [112]:
train_l

     Unnamed: 0      timestamp                UTC time  label
0         20589  1565109931087 2019-08-06 16:45:31.087      1
1         20599  1565109932090 2019-08-06 16:45:32.090      1
2         20609  1565109933092 2019-08-06 16:45:33.092      1
3         20619  1565109934094 2019-08-06 16:45:34.094      1
4         20629  1565109935097 2019-08-06 16:45:35.097      1
..          ...            ...                     ...    ...
370       24289  1565110302030 2019-08-06 16:51:42.030      4
371       24299  1565110303032 2019-08-06 16:51:43.032      4
372       24309  1565110304034 2019-08-06 16:51:44.034      4
373       24319  1565110305037 2019-08-06 16:51:45.037      4
374       24329  1565110306039 2019-08-06 16:51:46.039      4

[375 rows x 4 columns]

In [113]:
test_l

     Unnamed: 0      timestamp                UTC time  label
0         24339  1565110307041 2019-08-06 16:51:47.041    NaN
1         24349  1565110308043 2019-08-06 16:51:48.043    NaN
2         24359  1565110309046 2019-08-06 16:51:49.046    NaN
3         24369  1565110310048 2019-08-06 16:51:50.048    NaN
4         24379  1565110311050 2019-08-06 16:51:51.050    NaN
..          ...            ...                     ...    ...
120       25539  1565110427366 2019-08-06 16:53:47.366    NaN
121       25549  1565110428369 2019-08-06 16:53:48.369    NaN
122       25559  1565110429371 2019-08-06 16:53:49.371    NaN
123       25569  1565110430373 2019-08-06 16:53:50.373    NaN
124       25579  1565110431376 2019-08-06 16:53:51.376    NaN

[125 rows x 4 columns]

In [114]:
train["UTC time"].nunique()

3744

In [115]:
m=pd.merge(train_l,train,on=["timestamp"])

In [116]:
m

,Unnamed: 0_x,timestamp,UTC time_x,label,Unnamed: 0_y,UTC time_y,accuracy,x,y,z
0,20589,1565109931087,2019-08-06 16:45:31.087,1,20589,2019-08-06 16:45:31.087,unknown,-0.053802,-0.987701,0.068985
1,20599,1565109932090,2019-08-06 16:45:32.090,1,20599,2019-08-06 16:45:32.090,unknown,0.013718,-0.852371,-0.000870
2,20609,1565109933092,2019-08-06 16:45:33.092,1,20609,2019-08-06 16:45:33.092,unknown,0.145584,-1.007843,-0.036819
3,20619,1565109934094,2019-08-06 16:45:34.094,1,20619,2019-08-06 16:45:34.094,unknown,-0.099380,-1.209686,0.304489
4,20629,1565109935097,2019-08-06 16:45:35.097,1,20629,2019-08-06 16:45:35.097,unknown,0.082794,-1.001434,-0.025375
...,...,...,...,...,...,...,...,...,...,...
370,24289,1565110302030,2019-08-06 16:51:42.030,4,24289,2019-08-06 16:51:42.030,unknown,-0.641953,-1.469177,0.301041
371,24299,1565110303032,2019-08-06 16:51:43.032,4,24299,2019-08-06 16:51:43.032,unknown,-0.171616,-0.366074,-0.059082
372,24309,1565110304034,2019-08-06 16:51:44.034,4,24309,2019-08-06 16:51:44.034,unknown,0.401810,-1.077698,0.258911
373,24319,1565110305037,2019-08-06 16:51:45.037,4,24319,2019-08-06 16:51:45.037,unknown,0.330338,-1.470062,0.303894
374,24329,1565110306039,2019-08-06 16:51:46.039,4,24329,2019-08-06 16:51:46.039,unknown,0.689346,-0.991043,0.034973

In [117]:
m.drop(["Unnamed: 0_y","UTC time_y","accuracy","Unnamed: 0_x"],axis=1,inplace=True)

In [118]:
m

,timestamp,UTC time_x,label,x,y,z
0,1565109931087,2019-08-06 16:45:31.087,1,-0.053802,-0.987701,0.068985
1,1565109932090,2019-08-06 16:45:32.090,1,0.013718,-0.852371,-0.000870
2,1565109933092,2019-08-06 16:45:33.092,1,0.145584,-1.007843,-0.036819
3,1565109934094,2019-08-06 16:45:34.094,1,-0.099380,-1.209686,0.304489
4,1565109935097,2019-08-06 16:45:35.097,1,0.082794,-1.001434,-0.025375
...,...,...,...,...,...,...
370,1565110302030,2019-08-06 16:51:42.030,4,-0.641953,-1.469177,0.301041
371,1565110303032,2019-08-06 16:51:43.032,4,-0.171616,-0.366074,-0.059082
372,1565110304034,2019-08-06 16:51:44.034,4,0.401810,-1.077698,0.258911
373,1565110305037,2019-08-06 16:51:45.037,4,0.330338,-1.470062,0.303894
374,1565110306039,2019-08-06 16:51:46.039,4,0.689346,-0.991043,0.034973

In [119]:
m.label.value_counts()

2    213
3     88
4     47
1     27
Name: label, dtype: int64

In [120]:
df=m

In [121]:
# df['Year'] = pd.to_datetime(df['UTC time_x']).dt.year
# df['Month'] = pd.to_datetime(df['UTC time_x']).dt.month
# df['Day'] = pd.to_datetime(df['UTC time_x']).dt.day
# df['Dayofweek'] = pd.to_datetime(df['UTC time_x']).dt.dayofweek
# df['DayOfyear'] = pd.to_datetime(df['UTC time_x']).dt.dayofyear
# df['Week'] = pd.to_datetime(df['UTC time_x']).dt.week
# df['Quarter'] = pd.to_datetime(df['UTC time_x']).dt.quarter 
# df['hour'] = pd.to_datetime(df['UTC time_x']).dt.hour
df['minute'] = pd.to_datetime(df['UTC time_x']).dt.minute
df['second'] = pd.to_datetime(df['UTC time_x']).dt.second

In [122]:
df['nsecond'] = pd.to_datetime(df['UTC time_x']).dt.microsecond

In [124]:
df

,timestamp,UTC time_x,label,x,y,z,minute,second,nsecond
0,1565109931087,2019-08-06 16:45:31.087,1,-0.053802,-0.987701,0.068985,45,31,87000
1,1565109932090,2019-08-06 16:45:32.090,1,0.013718,-0.852371,-0.000870,45,32,90000
2,1565109933092,2019-08-06 16:45:33.092,1,0.145584,-1.007843,-0.036819,45,33,92000
3,1565109934094,2019-08-06 16:45:34.094,1,-0.099380,-1.209686,0.304489,45,34,94000
4,1565109935097,2019-08-06 16:45:35.097,1,0.082794,-1.001434,-0.025375,45,35,97000
...,...,...,...,...,...,...,...,...,...
370,1565110302030,2019-08-06 16:51:42.030,4,-0.641953,-1.469177,0.301041,51,42,30000
371,1565110303032,2019-08-06 16:51:43.032,4,-0.171616,-0.366074,-0.059082,51,43,32000
372,1565110304034,2019-08-06 16:51:44.034,4,0.401810,-1.077698,0.258911,51,44,34000
373,1565110305037,2019-08-06 16:51:45.037,4,0.330338,-1.470062,0.303894,51,45,37000
374,1565110306039,2019-08-06 16:51:46.039,4,0.689346,-0.991043,0.034973,51,46,39000

In [125]:
df=df.drop(["timestamp","UTC time_x"],axis=1)

In [126]:
df

     label         x         y         z  minute  second  nsecond
0        1 -0.053802 -0.987701  0.068985      45      31    87000
1        1  0.013718 -0.852371 -0.000870      45      32    90000
2        1  0.145584 -1.007843 -0.036819      45      33    92000
3        1 -0.099380 -1.209686  0.304489      45      34    94000
4        1  0.082794 -1.001434 -0.025375      45      35    97000
..     ...       ...       ...       ...     ...     ...      ...
370      4 -0.641953 -1.469177  0.301041      51      42    30000
371      4 -0.171616 -0.366074 -0.059082      51      43    32000
372      4  0.401810 -1.077698  0.258911      51      44    34000
373      4  0.330338 -1.470062  0.303894      51      45    37000
374      4  0.689346 -0.991043  0.034973      51      46    39000

[375 rows x 7 columns]

In [127]:
from pycaret.classification import *
#intialize the setup
exp_clf = setup(df, target = 'label')

Setup Succesfully Completed!

In [128]:
compare_models()